.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.w-embed-youtubevideo {
  width: 100%;
  position: relative;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-size: cover;
  background-position: 50% 50%;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

body {
  font-family: Kiddie, Arial, sans-serif;
  color: #1a1b1f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 44px;
  line-height: 62px;
  font-weight: 400;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 46px;
  font-weight: 400;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 500;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}

p {
  margin-bottom: 10px;
}

a {
  display: block;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #1a1b1f;
  text-decoration: underline;
}

a:hover {
  color: #32343a;
}

a:active {
  color: #43464d;
}

ul {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 40px;
  list-style-type: disc;
}

li {
  margin-bottom: 10px;
  opacity: 0.6;
  color: #eb5616;
  font-size: 20px;
}

img {
  display: block;
  margin-bottom: 20px;
}

label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

blockquote {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px 30px;
  border-left: 5px solid #e2e2e2;
  font-size: 20px;
  line-height: 34px;
}

figure {
  margin-top: 25px;
  padding-bottom: 20px;
}

figcaption {
  margin-top: 5px;
  opacity: 0.6;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.heading-jumbo-small {
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: Kiddie, Arial, sans-serif;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
  text-transform: none;
}

.styleguide-block {
  display: block;
  margin-top: 80px;
  margin-bottom: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.heading-jumbo-tiny {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Kiddie, Arial, sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
  text-transform: uppercase;
}

.rich-text {
  width: 70%;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
}

.rich-text p {
  margin-top: 15px;
  margin-bottom: 25px;
  opacity: 0.6;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-top: 120px;
  margin-right: auto;
  margin-left: auto;
}

.container.awards {
  margin-bottom: 140px;
}

.container.home {
  margin-top: 0px;
}

.container.work {
  margin-top: 0px;
}

.styleguide-content-wrap {
  text-align: center;
}

.paragraph-small {
  font-family: Kiddie, Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
}

.styleguide-header-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 460px;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #000;
  border-radius: 0px;
  background-color: #03f;
  opacity: 0.85;
  color: #fff;
  text-align: center;
}

.styleguide-button-wrap {
  margin-top: 10px;
  margin-bottom: 10px;
}

.heading-jumbo {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Kiddie, Arial, sans-serif;
  font-size: 64px;
  line-height: 80px;
  text-transform: none;
}

.paragraph-tiny {
  font-family: Kiddie, Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
}

.paragraph-tiny.cc-paragraph-tiny-light {
  opacity: 0.7;
}

.label {
  margin-bottom: 10px;
  font-family: Kiddie, Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.label.cc-styleguide-label {
  margin-bottom: 25px;
}

.label.cc-speaking-label {
  margin-top: 20px;
  margin-bottom: 10px;
}

.label.cc-about-light {
  opacity: 0.6;
  font-family: Kiddie, Arial, sans-serif;
  color: #03f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: none;
}

.label.liz {
  color: #eb5616;
  font-size: 20px;
}

.paragraph-light {
  margin-top: 0px;
  opacity: 0.6;
  font-family: Kiddie, Arial, sans-serif;
  color: #eb5616;
  font-size: 20px;
}

.paragraph-light.cc-position-name {
  position: static;
  z-index: 2;
  width: 100%;
  margin-bottom: 5px;
  float: left;
}

.paragraph-light.contact-subtitle {
  color: #ff901a;
}

.paragraph-light.extra {
  position: relative;
  z-index: 1;
  width: 110px;
  float: left;
  clear: none;
  font-family: 'kiddie extras', Arial, sans-serif;
}

.paragraph-light.project-text {
  margin-top: 138px;
}

.paragraph-light.dime {
  display: block;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 120px;
  margin-left: 0px;
}

.paragraph-light.awards {
  line-height: 40px;
}

.section {
  margin-top: 50px;
  margin-right: 30px;
  margin-left: 30px;
}

.section.cc-contact {
  padding-right: 80px;
  padding-left: 80px;
  background-color: rgba(247, 185, 1, 0.29);
}

.section.work {
  margin-top: 50px;
}

.section.dime {
  padding-right: 0px;
  padding-left: 0px;
}

.button {
  padding: 12px 25px;
  border-radius: 0px;
  background-color: #03f;
  -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  font-family: Kiddie, Arial, sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #3059ff;
  color: #fff;
}

.button:active {
  background-color: #0028c7;
}

.button.cc-jumbo-button {
  padding: 16px 35px;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-white-button {
  padding: 16px 35px;
  background-color: #fff;
  color: #202020;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-white-button:hover {
  background-color: hsla(0, 0%, 100%, 0.8);
}

.button.cc-white-button:active {
  background-color: hsla(0, 0%, 100%, 0.9);
}

.paragraph-bigger {
  margin-bottom: 10px;
  opacity: 1;
  font-family: Kiddie, Arial, sans-serif;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

.paragraph-bigger.cc-bigger-light {
  opacity: 0.6;
}

.divider {
  height: 1px;
  background-color: #eee;
}

.logo-link {
  z-index: 1;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.7;
}

.navigation-item {
  padding-top: 9px;
  padding-bottom: 9px;
  opacity: 0.6;
  font-family: Kiddie, Arial, sans-serif;
  color: #000dff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navigation-item:hover {
  opacity: 0.9;
  color: #000dff;
  letter-spacing: 5px;
  text-decoration: none;
}

.navigation-item:active {
  opacity: 0.8;
}

.navigation-item.w--current {
  opacity: 1;
  color: #f7b901;
  font-weight: 600;
}

.navigation-item.w--current:hover {
  opacity: 0.8;
  color: #f7b901;
}

.navigation-item.w--current:active {
  opacity: 0.7;
  color: #f7b901;
}

.navigation-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.logo-image {
  display: block;
  cursor: default;
}

.logo-image:hover {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.navigation-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.intro-wrap {
  margin-top: 0px;
  margin-bottom: 0px;
  -o-object-fit: fill;
  object-fit: fill;
}

.name-text {
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

.position-name-text {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
  text-transform: none;
}

.work-description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.work-experience-grid {
  margin-bottom: 140px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-areas: ". . . .";
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.works-grid {
  margin-bottom: 80px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-areas: ". . ."
    ". . .";
  -ms-grid-columns: 1.5fr 30px 1fr 30px 1.5fr;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  -ms-grid-rows: auto 30px auto;
  grid-template-rows: auto auto;
}

.carrer-headline-wrap {
  width: 70%;
  margin-bottom: 50px;
}

.work-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 460px;
  margin-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #f4f4f4;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
  text-decoration: none;
}

.work-image:hover {
  opacity: 0.8;
}

.work-image:active {
  opacity: 0.7;
}

.work-image.cc-work-1 {
  background-image: url('../images/portfolio-1---wide.svg');
  background-size: cover;
}

.work-image.cc-work-2 {
  background-image: url('../images/portfolio-2---wide.svg');
  background-size: cover;
}

.work-image.cc-work-4 {
  background-image: url('../images/portfolio-3---wide.svg');
  background-size: cover;
}

.work-image.cc-work-3 {
  background-image: url('../images/portfolio-4---wide.svg');
  background-size: cover;
}

.project-name-link {
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
  text-decoration: none;
}

.project-name-link:hover {
  opacity: 0.8;
}

.project-name-link:active {
  opacity: 0.7;
}

.text-field {
  margin-bottom: 18px;
  padding: 21px 20px;
  border: 1px solid #e4e4e4;
  border-radius: 0px;
  -webkit-transition: border-color 400ms ease;
  transition: border-color 400ms ease;
  font-family: Kiddie, Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
}

.text-field:hover {
  border-color: #e3e6eb;
}

.text-field:active {
  border-color: #43464d;
}

.text-field:focus {
  border-color: #43464d;
}

.text-field::-webkit-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field:-ms-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field::-ms-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field::placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field.cc-textarea {
  height: 200px;
  padding-top: 12px;
}

.status-message {
  padding: 9px 30px;
  background-color: #202020;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.status-message.cc-success-message {
  background-color: #12b878;
}

.status-message.cc-error-message {
  background-color: #db4b68;
}

.contact {
  padding-top: 80px;
  padding-bottom: 90px;
}

.contact-headline {
  width: 70%;
  margin-bottom: 40px;
}

.contact-form-grid {
  grid-column-gap: 30px;
  grid-row-gap: 10px;
}

.contact-form-wrap {
  width: 70%;
}

.footer-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.webflow-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.5;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  text-decoration: none;
  text-transform: uppercase;
}

.webflow-link:hover {
  opacity: 1;
}

.webflow-link:active {
  opacity: 0.8;
}

.webflow-logo-tiny {
  margin-top: -2px;
  margin-right: 8px;
}

.footer-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #03f;
}

.footer-item {
  margin-right: 20px;
  margin-left: 20px;
  opacity: 0.6;
  font-family: Kiddie, Arial, sans-serif;
  color: #a36611;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-item:hover {
  opacity: 0.9;
}

.footer-item:active {
  opacity: 0.8;
}

.about-intro-grid {
  margin-top: 100px;
  margin-bottom: 140px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template-areas: ". .";
  -ms-grid-columns: 4.75fr 80px 2fr;
  grid-template-columns: 4.75fr 2fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.hi-there-heading {
  margin-top: 10px;
  margin-bottom: 0px;
  border: 1px solid transparent;
  font-family: Kiddie, Arial, sans-serif;
  color: #eb5616;
  font-size: 45px;
}

.service-name-text {
  margin-bottom: 10px;
  opacity: 0.7;
  color: #03f;
  font-size: 30px;
  line-height: 46px;
}

.skillset-wrap {
  padding-right: 60px;
}

.reference-link {
  opacity: 0.6;
  font-size: 14px;
  line-height: 26px;
  text-decoration: none;
}

.reference-link:hover {
  opacity: 1;
}

.reference-link:active {
  opacity: 0.9;
}

.featured-item-wrap {
  margin-bottom: 25px;
}

.services-items-grid {
  padding-top: 10px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-areas: ". .";
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.skills-grid {
  margin-bottom: 140px;
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template-areas: ". .";
  -ms-grid-columns: 1fr 80px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.personal-features-grid {
  display: none;
  margin-bottom: 110px;
  grid-column-gap: 80px;
  grid-row-gap: 20px;
  grid-template-areas: ". ."
    ". .";
  -ms-grid-rows: auto 20px auto;
  grid-template-rows: auto auto;
}

.speaking-text {
  display: inline-block;
  margin-right: 8px;
}

.speaking-text.cc-past-speaking {
  opacity: 0.6;
}

.speaking-detail {
  display: inline-block;
  opacity: 0.6;
}

.upcoming-wrap {
  margin-bottom: 40px;
}

.social-media-heading {
  margin-bottom: 60px;
}

.social-media-grid {
  margin-bottom: 30px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  -ms-grid-rows: auto 30px auto;
  grid-template-areas: ". . . ."
    ". . . .";
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.project-overview-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 100px auto 50px;
  padding-right: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-column-gap: 50px;
  grid-row-gap: 23px;
  grid-template-areas: ". . . ."
    ". . . .";
  -ms-grid-columns: 1fr 50px 1fr 50px 0.75fr 50px 1fr;
  grid-template-columns: 1fr 1fr 0.75fr 1fr;
  -ms-grid-rows: auto 23px auto;
  grid-template-rows: auto auto;
}

.project-overview-grid.agg {
  margin-top: 150px;
}

.detail-header-image {
  width: auto;
}

.detail-header-image.topo {
  margin-top: 50px;
}

.project-description-grid {
  display: block;
  margin: 200px 0px 120px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-areas: ". .";
  -ms-grid-columns: 1fr 30px 1.5fr;
  grid-template-columns: 1fr 1.5fr;
  -ms-grid-rows: auto 30px auto;
  grid-template-rows: auto auto;
}

.detail-image {
  width: 100%;
  margin-bottom: 30px;
}

.email-section {
  width: 70%;
  margin: 140px auto 50px;
  text-align: center;
}

.email-link {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'kiddie extras', Arial, sans-serif;
  color: #03f;
  font-size: 64px;
  line-height: 88px;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
  cursor: pointer;
}

.email-link:hover {
  opacity: 0.8;
  color: #03f;
}

.email-link:active {
  opacity: 0.7;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  padding: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

._404-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #03f;
}

._404-content-wrap {
  margin-bottom: 20px;
}

.protected-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 90px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.protected-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.protected-heading {
  margin-bottom: 30px;
}

.heading {
  font-family: Lato, sans-serif;
  font-size: 60px;
}

.image {
  margin-top: 0px;
  margin-left: 653px;
}

.heading-2 {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 2;
  margin-top: 250px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  font-family: Kiddie, Arial, sans-serif;
  color: #eb5616;
}

.image-2 {
  position: relative;
  right: 0px;
  z-index: 1;
  width: 400px;
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 0px;
}

.text-span {
  font-weight: 400;
}

.heading-3 {
  font-family: Kiddie, Arial, sans-serif;
  color: #eb5616;
}

.heading-4 {
  font-family: Kiddie, Arial, sans-serif;
  color: #eb5616;
}

.heading-5 {
  font-family: Kiddie, Arial, sans-serif;
  color: #03f;
  font-weight: 400;
}

.field-label {
  font-family: Kiddie, Arial, sans-serif;
  color: #03f;
}

.field-label-2 {
  font-family: Kiddie, Arial, sans-serif;
  color: #03f;
}

.field-label-3 {
  font-family: Kiddie, Arial, sans-serif;
  color: #03f;
  font-weight: 500;
}

.paragraph {
  font-family: Kiddie, Arial, sans-serif;
  color: #000;
}

.heading-6 {
  font-family: Kiddie, Arial, sans-serif;
}

.heading-7 {
  font-family: Kiddie, Arial, sans-serif;
}

.heading-8 {
  font-family: Kiddie, Arial, sans-serif;
}

.heading-9 {
  font-family: Kiddie, Arial, sans-serif;
}

.heading-10 {
  font-family: Kiddie, Arial, sans-serif;
}

.heading-11 {
  font-family: Kiddie, Arial, sans-serif;
}

.paragraph-2 {
  font-family: Kiddie, Arial, sans-serif;
}

.link {
  font-family: Kiddie, Arial, sans-serif;
}

.tab-link-tab-1 {
  background-color: #fff;
  white-space: normal;
}

.tab-link-tab-1.w--current {
  width: 100%;
  border-radius: 0px;
  background-color: #fff;
  color: #eb5616;
  white-space: normal;
}

.work-tabs-menu {
  width: 25%;
  float: left;
  clear: none;
}

.work-tabs-content {
  width: 75%;
  float: right;
}

.tab-link-tab-2 {
  width: 100%;
  background-color: #fff;
}

.tab-link-tab-2.w--current {
  background-color: #fff;
  color: #03f;
}

.tab-link-tab-3 {
  width: 100%;
  background-color: #fff;
}

.tab-link-tab-3.w--current {
  background-color: #fff;
  color: #f7b901;
}

.tab-link-tab-4 {
  width: 100%;
  background-color: #fff;
}

.tab-link-tab-4.w--current {
  background-color: #fff;
  color: #9ae406;
}

.heading-12 {
  margin-bottom: 0px;
  margin-left: 0px;
  color: #000;
}

.grid {
  grid-template-areas: "Area Area-2"
    "Area-3 Area-4";
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.nav-link {
  font-size: 12px;
  text-transform: uppercase;
}

.nav-link.navigation-item {
  font-size: 14px;
}

.heading-13 {
  width: 40%;
  font-family: 'kiddie extras', Arial, sans-serif;
  color: #03f;
  text-decoration: none;
}

.heading-13:hover {
  color: #03f;
}

.heading-13.see-my-work {
  font-size: 24px;
}

.heading-13.see-my-work:hover {
  letter-spacing: 2px;
}

.heading-13.see-my-work:active {
  color: #0027c2;
}

.container-2 {
  margin-top: 315px;
}

.div-block {
  background-color: rgba(247, 185, 1, 0.49);
}

.grid-2 {
  grid-template-areas: "Area";
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.spirit-skies {
  cursor: pointer;
}

.spirit-skies:hover {
  border-style: solid;
  border-width: 7px;
  border-color: #9ae406;
  background-color: transparent;
  opacity: 0.9;
}

.spirit-skies:active {
  opacity: 0.95;
}

.illustration-projects {
  border-style: solid;
  border-width: 0px;
  border-color: #eb5616;
  border-radius: 0px;
  cursor: pointer;
}

.illustration-projects:hover {
  border-width: 7px;
}

.design-projects {
  border-style: solid;
  border-width: 0px;
  border-color: #03f;
  cursor: pointer;
}

.design-projects:hover {
  border-width: 7px;
}

.tranditional-projects {
  cursor: pointer;
}

.tranditional-projects:hover {
  border-style: solid;
  border-width: 7px;
  border-color: #f7b901;
}

.container-3 {
  margin-bottom: 30px;
}

.work-subtitle {
  margin-bottom: 50px;
  color: #eb5616;
}

.image-3 {
  width: 70px;
}

.styleguide-text.alphabet {
  margin-bottom: 0px;
  font-size: 20px;
}

.styleguide-text.numbers {
  font-family: 'kiddie extras', Arial, sans-serif;
  font-size: 20px;
}

.project-heading {
  margin-top: 0px;
  color: #eb5616;
}

.slider {
  width: 100%;
  height: auto;
  margin-top: 50px;
  background-color: #fff;
}

.date {
  margin-bottom: 10px;
  opacity: 0.8;
  font-family: 'kiddie extras', Arial, sans-serif;
}

.nose {
  margin-top: 146px;
}

.nose-images {
  margin-bottom: 80px;
}

.grid-3 {
  margin-right: 50px;
  margin-left: 50px;
  grid-column-gap: 27px;
  -ms-grid-columns: 1fr 0.75fr;
  grid-template-columns: 1fr 0.75fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.list-item {
  opacity: 0.8;
  color: #eb5616;
}

.div-block-2 {
  margin-left: 0px;
}

.back {
  display: inline-block;
  width: auto;
  margin-top: 50px;
  margin-left: 50px;
  font-family: 'kiddie extras', Arial, sans-serif;
  color: #000;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

.back:hover {
  color: #f7b901;
}

.back:active {
  color: #ebb000;
}

.section-2 {
  margin-right: 0px;
  margin-left: 0px;
}

.back-to-the-top {
  margin-top: 80px;
  font-family: 'kiddie extras', Arial, sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.back-to-the-top:hover {
  color: #f7b901;
}

.back-to-the-top:active {
  color: #eeb300;
}

.slider-2 {
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.div-block-3 {
  margin-top: 50px;
}

.div-block-4 {
  padding-right: 10px;
  padding-left: 10px;
}

.div-block-5 {
  margin-top: 0px;
}

.image-4 {
  margin-top: 0px;
}

.image-5 {
  margin-top: 0px;
}

.image-6 {
  width: 100%;
  height: auto;
}

.image-6.dime {
  margin-top: 50px;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  margin-bottom: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.column {
  margin-top: 50px;
}

.column-2 {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.columns-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.div-block-6 {
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 200px;
  margin-bottom: 120px;
}

.div-block-7 {
  margin-top: 50px;
  margin-bottom: 150px;
}

.columns-3 {
  margin-top: 48px;
}

.column-5 {
  padding-left: 30px;
}

.youtube {
  bottom: auto;
}

.link-2 {
  opacity: 1;
  color: #03f;
  cursor: pointer;
}

.link-2:hover {
  color: #001774;
}

.link-2:active {
  color: #03f;
}

.list-item-5 {
  color: #f7b901;
}

.color {
  opacity: 1;
  color: #03f;
}

.color.yellow {
  color: #f7b901;
}

.color.yellow.hex {
  font-family: 'kiddie extras', Arial, sans-serif;
}

.color.red {
  color: #eb5616;
}

.color.red.hex {
  font-family: 'kiddie extras', Arial, sans-serif;
}

.color.hex {
  font-family: 'kiddie extras', Arial, sans-serif;
}

.div-block-9 {
  margin-top: 100px;
  margin-bottom: 50px;
}

.columns-6 {
  margin: 100px 0px 50px;
}

.image-8 {
  margin-bottom: 0px;
}

.image-9 {
  margin-bottom: 0px;
}

.image-10 {
  margin-bottom: 0px;
}

.body {
  background-color: #fff;
}

.columns-11 {
  margin-top: 38px;
}

.image-12 {
  position: relative;
  width: 100%;
}

.right-arrow {
  color: #000;
}

.icon {
  color: #000;
}

@media screen and (max-width: 991px) {
  body {
    text-align: left;
  }

  .styleguide-block {
    text-align: center;
  }

  .heading-jumbo {
    font-size: 56px;
    line-height: 70px;
    text-align: left;
  }

  .section.cc-contact {
    padding-right: 0px;
    padding-left: 0px;
  }

  .button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .logo-link.w--current {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .menu-icon {
    display: block;
  }

  .navigation-item {
    padding: 15px 30px;
    -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    text-align: center;
  }

  .navigation-item:hover {
    background-color: #f7f8f9;
  }

  .navigation-item:active {
    background-color: #eef0f3;
  }

  .navigation-items {
    background-color: #fff;
  }

  .navigation {
    padding: 25px 30px;
  }

  .menu-button {
    padding: 0px;
  }

  .menu-button.w--open {
    background-color: transparent;
  }

  .navigation-wrap {
    margin-right: 0px;
  }

  .work-experience-grid {
    grid-template-areas: ". ."
      ". .";
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .works-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .carrer-headline-wrap {
    width: auto;
  }

  .work-image {
    margin-bottom: 30px;
  }

  .contact {
    width: auto;
    padding: 30px 50px 40px;
  }

  .contact-headline {
    width: 100%;
  }

  .contact-form-wrap {
    width: 100%;
  }

  .about-intro-grid {
    grid-row-gap: 50px;
    grid-template-areas: "."
      ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 50px auto;
    grid-template-rows: auto auto;
    text-align: center;
  }

  .about-head-text-wrap {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  .service-name-text {
    font-size: 24px;
    line-height: 42px;
  }

  .skillset-wrap {
    padding-right: 0px;
  }

  .services-items-grid {
    padding-top: 0px;
    grid-row-gap: 0px;
    grid-template-areas: "."
      ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 0px auto;
    grid-template-rows: auto auto;
  }

  .skills-grid {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    grid-row-gap: 50px;
    grid-template-areas: "."
      ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 50px auto;
    grid-template-rows: auto auto;
    text-align: center;
  }

  .personal-features-grid {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    grid-template-areas: "."
      "."
      "."
      ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    text-align: center;
  }

  .social-media-heading {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .social-media-grid {
    grid-template-areas: ". ."
      ". ."
      ". ."
      ". .";
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .project-overview-grid {
    width: 100%;
    margin-top: 50px;
    margin-right: 0px;
    margin-left: 0px;
    grid-row-gap: 50px;
    grid-template-areas: "."
      "."
      ".";
    -ms-grid-columns: 2fr;
    grid-template-columns: 2fr;
    -ms-grid-rows: auto 50px auto 50px auto;
    grid-template-rows: auto auto auto;
    text-align: left;
  }

  .project-description-grid {
    display: block;
    width: 80%;
    margin-right: 0px;
    margin-left: 0px;
    grid-auto-columns: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 50px;
    grid-template-areas: "."
      ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 50px auto;
    grid-template-rows: auto auto;
    text-align: center;
  }

  .email-section {
    margin-bottom: 160px;
  }

  .email-link {
    font-size: 36px;
    line-height: 54px;
  }

  .heading-2 {
    position: relative;
    width: auto;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 20px;
    padding-top: 0px;
    padding-left: 0px;
  }

  .image-2 {
    width: 100%;
    margin-top: 20px;
    margin-left: 0px;
    padding-left: 0px;
  }

  .heading-13.see-my-work {
    display: block;
    width: auto;
    margin-top: 0px;
    margin-left: 20px;
  }

  .project-heading {
    margin-top: 61px;
    text-align: left;
  }

  .slider {
    width: 100%;
    margin-top: 429px;
    margin-left: 0px;
  }

  .slider.egg {
    margin-top: 100px;
  }

  .nose-images {
    margin-top: 0px;
    margin-bottom: 50px;
  }

  .grid-3 {
    margin-top: 0px;
  }

  .div-block-2 {
    margin: 0px;
    text-align: left;
  }

  .back {
    margin-top: 50px;
  }

  .div-block-3 {
    margin-top: 0px;
    margin-left: 0px;
  }

  .div-block-4 {
    margin-left: 0px;
  }

  .div-block-5 {
    margin-right: 0px;
    margin-left: 0px;
  }

  .youtube {
    width: 600px;
    height: 350px;
    margin-top: -60px;
    margin-left: -334px;
  }

  .columns-7 {
    display: block;
  }

  .grid-4 {
    display: block;
  }

  .columns-8 {
    margin-top: 222px;
  }

  .columns-9 {
    padding-top: 332px;
  }
}

@media screen and (max-width: 767px) {
  .heading-jumbo-small {
    font-size: 30px;
    line-height: 52px;
  }

  .rich-text {
    width: 90%;
    max-width: 470px;
    text-align: left;
  }

  .container {
    overflow: visible;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
  }

  .container.awards {
    padding-right: 30px;
    padding-left: 30px;
  }

  .heading-jumbo {
    font-size: 50px;
    line-height: 64px;
  }

  .label.cc-about-light {
    text-align: left;
  }

  .paragraph-light {
    text-align: left;
  }

  .paragraph-light.cc-position-name {
    text-align: left;
  }

  .paragraph-light.dime {
    margin-bottom: 0px;
  }

  .paragraph-light.awards {
    text-align: left;
  }

  .paragraph-light.intro {
    text-align: left;
  }

  .section {
    margin-right: 15px;
    margin-left: 15px;
  }

  .section.cc-contact {
    padding: 15px;
  }

  .paragraph-bigger {
    font-size: 16px;
    line-height: 28px;
  }

  .logo-link {
    padding-left: 0px;
  }

  .navigation {
    padding: 20px 30px;
  }

  .intro-wrap {
    margin-top: 100px;
  }

  .position-name-text {
    text-align: left;
  }

  .work-experience-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .work-position-wrap {
    margin-bottom: 40px;
  }

  .project-name-link {
    font-size: 16px;
    line-height: 28px;
  }

  .text-field.cc-textarea {
    text-align: left;
  }

  .contact {
    padding-right: 30px;
    padding-left: 30px;
  }

  .contact-form-grid {
    grid-column-gap: 30px;
    grid-template-areas: "."
      "."
      ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .contact-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .contact-form-wrap {
    text-align: left;
  }

  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .webflow-link {
    margin-bottom: 15px;
  }

  .footer-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-item {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
  }

  .about-intro-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .about-head-text-wrap {
    width: 70%;
    max-width: 470px;
    padding-left: 10px;
  }

  .hi-there-heading {
    text-align: left;
  }

  .service-name-text {
    font-size: 20px;
  }

  .services-items-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .skills-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 470px;
    margin-right: 20px;
    margin-left: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .personal-features-grid {
    width: 70%;
    max-width: 470px;
  }

  .social-media-heading {
    width: 100%;
    max-width: 470px;
    margin-right: auto;
    margin-left: auto;
  }

  .social-media-grid {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .project-overview-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    max-width: 470px;
    margin-top: 90px;
    margin-bottom: 95px;
    grid-auto-columns: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    -ms-grid-columns: 2fr;
    grid-template-columns: 2fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .project-description-grid {
    display: block;
    width: 70%;
    max-width: 470px;
    margin-top: 90px;
    margin-bottom: 85px;
  }

  .detail-image {
    margin-bottom: 15px;
  }

  .email-section {
    width: 80%;
    max-width: 470px;
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .email-link {
    font-size: 36px;
    line-height: 54px;
  }

  .utility-page-wrap {
    padding: 15px;
  }

  ._404-wrap {
    padding: 30px;
  }

  .heading-2 {
    position: relative;
    display: block;
    margin-top: 70px;
    font-size: 30px;
    line-height: 35px;
    text-align: left;
  }

  .image-2 {
    position: relative;
    left: 0%;
    display: inline;
    width: auto;
    height: auto;
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
  }

  .text-span.intro {
    text-align: center;
  }

  .heading-3 {
    text-align: left;
  }

  .heading-4 {
    text-align: left;
  }

  .image-3 {
    position: relative;
    left: 0%;
  }

  .slider {
    width: auto;
    margin-top: 0px;
  }

  .date {
    text-align: left;
  }

  .nose {
    margin-top: 0px;
  }

  .div-block-3 {
    margin-bottom: 50px;
    margin-left: 0px;
  }

  .div-block-4 {
    margin-left: 0px;
  }

  .div-block-5 {
    margin-right: 0px;
    margin-left: 0px;
  }

  .columns {
    display: block;
  }

  .columns-2 {
    display: block;
  }

  .div-block-6 {
    margin-top: 100px;
  }

  .columns-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .column-3 {
    text-align: left;
  }

  .image-7 {
    position: relative;
    left: 0%;
    width: 30%;
  }

  .youtube {
    width: 500px;
    height: 300px;
    margin-top: 36px;
    margin-left: -20px;
  }

  .columns-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .div-block-8 {
    position: relative;
    left: 20px;
  }

  .div-block-9 {
    margin-right: 0px;
  }

  .columns-6 {
    margin-top: 50px;
  }

  .list-2 {
    text-align: left;
  }

  .grid-4 {
    display: block;
  }

  .list-3 {
    text-align: left;
  }

  .columns-8 {
    margin-top: 0px;
  }

  .image-11 {
    margin-bottom: 50px;
  }

  .columns-9 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0px;
  }

  .columns-10 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  ul {
    font-size: 14px;
    line-height: 20px;
  }

  li {
    font-size: 14px;
  }

  .rich-text {
    width: 100%;
    max-width: none;
  }

  .container {
    margin-bottom: 0px;
  }

  .container.awards {
    margin-bottom: 60px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .container.styleguide-block {
    margin-top: 0px;
    margin-bottom: 60px;
  }

  .container.styleguide-block.first {
    margin-top: -92px;
  }

  .container.home {
    margin-top: 50px;
  }

  .container.work {
    margin-top: -100px;
  }

  .container.contact {
    margin-top: 0px;
    padding: 0px;
  }

  .styleguide-header-wrap {
    height: 200px;
  }

  .heading-jumbo {
    font-size: 36px;
    line-height: 48px;
    text-align: center;
  }

  .paragraph-light {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }

  .paragraph-light.cc-position-name {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }

  .paragraph-light.cc-position-name.peek {
    width: auto;
    margin-right: 10px;
    margin-left: 10px;
    text-align: left;
  }

  .paragraph-light.dime {
    margin-top: 25px;
  }

  .paragraph-light.awards {
    margin-right: 10px;
    margin-left: 10px;
    line-height: 30px;
    text-align: left;
  }

  .divider {
    margin-top: -58px;
  }

  .navigation {
    padding-right: 20px;
    padding-left: 20px;
  }

  .menu-button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .menu-button.w--open {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .intro-wrap {
    margin-top: 50px;
  }

  .position-name-text {
    margin-top: 20px;
    text-align: center;
  }

  .contact {
    padding-right: 15px;
    padding-left: 15px;
  }

  .contact-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .contact-form-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .about-intro-grid {
    display: block;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .about-head-text-wrap {
    width: 100%;
    max-width: none;
  }

  .service-name-text {
    font-size: 18px;
    line-height: 25px;
  }

  .skillset-wrap {
    padding-right: 10px;
    padding-left: 10px;
  }

  .services-items-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .skills-grid {
    display: block;
    width: 100%;
    max-width: none;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .personal-features-grid {
    width: 100%;
    max-width: none;
  }

  .social-media-heading {
    width: 100%;
    max-width: none;
  }

  .project-overview-grid {
    width: 100%;
    max-width: none;
  }

  .detail-header-image.topo {
    margin-top: 20px;
  }

  .project-description-grid {
    width: 100%;
    max-width: none;
  }

  .email-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .email-link {
    font-size: 30px;
    line-height: 46px;
  }

  .heading-2 {
    left: 0px;
    top: 0px;
    margin-top: 20px;
    margin-left: 0px;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
  }

  .image-2 {
    left: 0px;
    width: 100px;
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
  }

  .text-span {
    font-size: 14px;
    line-height: 20px;
  }

  .heading-3.awards {
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .heading-4 {
    margin-right: 10px;
    margin-left: 10px;
    text-align: left;
  }

  .heading-5 {
    font-size: 24px;
    line-height: 30px;
  }

  .tab-link-tab-1 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .work-tabs-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    font-size: 10px;
    line-height: 15px;
  }

  .work-tabs-content {
    width: auto;
  }

  .tab-link-tab-2 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .tab-link-tab-3 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .tab-link-tab-3.w--current {
    padding-right: 20px;
    padding-left: 20px;
  }

  .tab-link-tab-4 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .heading-12 {
    margin-top: 0px;
  }

  .heading-13.see-my-work {
    margin-left: 0px;
    font-size: 14px;
    line-height: 18px;
  }

  .work-subtitle {
    font-size: 13px;
    line-height: 20px;
  }

  .image-3 {
    position: relative;
    left: 91px;
  }

  .styleguide {
    font-size: 25px;
  }

  .styleguide-text {
    color: #1a1b1f;
    font-size: 14px;
    line-height: 20px;
  }

  .styleguide-text.alphabet {
    margin-top: 30px;
  }

  .project-heading {
    margin-top: 0px;
    font-size: 40px;
    text-align: center;
  }

  .slider.egg {
    margin-top: 0px;
  }

  .date {
    text-align: center;
  }

  .grid-3 {
    display: block;
  }

  .back {
    margin-left: 0px;
  }

  .div-block-3 {
    margin-left: 0px;
  }

  .div-block-4 {
    margin-left: 0px;
  }

  .div-block-5 {
    margin-right: 0px;
    margin-left: 0px;
  }

  .column-3 {
    padding-right: 0px;
    padding-left: 20px;
  }

  .column-4 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .tab-pane-tab-3 {
    margin-top: 0px;
  }

  .text-block {
    position: static;
    display: inline;
  }

  .text-block-2 {
    display: inline;
  }

  .text-block-3 {
    display: inline;
  }

  .list-item-2 {
    font-size: 14px;
  }

  .list-item-3 {
    font-size: 14px;
  }

  .list-item-4 {
    font-size: 14px;
  }

  .image-7 {
    position: relative;
    left: 35%;
    width: 30%;
    margin-bottom: 0px;
  }

  .column-5 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .youtube {
    width: auto;
    height: auto;
    margin-left: 0px;
  }

  .color {
    font-size: 12px;
  }

  .color.yellow {
    font-size: 12px;
  }

  .color.red {
    font-size: 12px;
  }

  .columns-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .list {
    padding-left: 10px;
    font-size: 10px;
  }

  .div-block-8 {
    left: 0px;
  }
}

#w-node-7dee623c62c1-01bdab91 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-7dee623c62c8-01bdab91 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-4224828ffd8a-01bdab91 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-4224828ffd8f-01bdab91 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-4224828ffd90-01bdab91 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-4224828ffd99-01bdab91 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-4224828ffda1-01bdab91 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-4224828ffda6-01bdab91 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-4224828ffdd8-01bdab91 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-4224828ffe12-01bdab91 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-a852d0df4a32-d0df4a24 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-a852d0df4a36-d0df4a24 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-a852d0df4a3a-d0df4a24 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-483439b9aa11-ffbdab92 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-5a131392625f-ffbdab92 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-ecbceabd05ca-eabd05c9 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-ecbceabd05d1-eabd05c9 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 991px) {
  #w-node-7dee623c62c8-01bdab91 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-4224828ffd8f-01bdab91 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-4224828ffd99-01bdab91 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-4224828ffdd8-01bdab91 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }

  #w-node-4224828ffe12-01bdab91 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }

  #w-node-ecbceabd05ca-eabd05c9 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-ecbceabd05d1-eabd05c9 {
    -ms-grid-column-span: 2;
    grid-column-end: 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-a852d0df4a36-d0df4a24 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-a852d0df4a3a-d0df4a24 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

@font-face {
  font-family: 'Kiddie';
  src: url('../fonts/Kiddie-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'kiddie extras';
  src: url('../fonts/KiddieExtras-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}